Repository the-dr-lazy/cascade: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-yaml, yamllint, nixpkgs-fmt, nix-linter, dhall-format, dhall-lint, stylish-haskell, hlint

Path conditions:
  check-json: any of: \.json$, but not: (nix/sources.nix$)
  check-yaml: any of: \.(yaml|yml)$, but not: (nix/sources.nix$)
  yamllint: any of: \.(yaml|yml)$, but not: (nix/sources.nix$)
  nixpkgs-fmt: any of: \.nix$, but not: (nix/sources.nix$)
  nix-linter: any of: \.nix$, but not: (nix/sources.nix$)
  dhall-format: any of: \.dhall$, but not: (nix/sources.nix$)
  dhall-lint: any of: \.dhall$, but not: (nix/sources.nix$)
  stylish-haskell: any of: \.hs$, but not: (nix/sources.nix$)
  hlint: any of: \.hs$, but not: (nix/sources.nix$)

chore: upgrade to GHC@8.10.7
  cabal.project
  cabal.project.freeze
  cascade-api/package.dhall
  cascade-api/src/Cascade/Api/Effect/Scrypt.hs
  cascade-cli/package.dhall
  cascade-cli/src/Cascade/CLI/Data/Contract/Shell/Environment.hs
  cascade-prelude/package.dhall
Due: dhall-format, dhall-lint, stylish-haskell, hlint

chore: add docker-compose
  .envrc
  docker-compose.yaml
Due: check-yaml, yamllint

chore: install pre-commit on bootstrap in dev environment
  .pre-commit-config.yaml
  cascade-cli/src/Cascade/CLI/Data/Contract/Shell/Environment.hs
  scripts/bootstrap.sh
Due: check-yaml, yamllint, stylish-haskell, hlint

chore(hlint): ignore lookupEnv rule
  hlint.dhall
Due: dhall-format, dhall-lint

chore: switch dev env to GHC 9.2.2 _____ (T_T) / <3 \ \/ \/
  flake.lock
  flake.nix
  shell.nix
Due: nixpkgs-fmt, nix-linter

chore: GHC 9.2.4
  cabal.project
  cabal.project.freeze
  cascade-api/test/Cascade/Api/Test/Resource.hs
  cascade-api/test/Test/Cascade/Api/StateMachine/Command/Authentication/Types.hs
  cascade-api/test/Test/Cascade/Api/StateMachine/Command/Project.hs
  cascade-api/test/Test/Cascade/Api/StateMachine/Command/Project/Create.hs
  cascade-api/test/Test/Cascade/Api/StateMachine/Command/Project/GetAll.hs
  cascade-api/test/Test/Cascade/Api/StateMachine/Command/Project/Types.hs
  cascade-api/test/Test/Cascade/Api/StateMachine/Command/Project/UpdateNotExistingById.hs
  cascade-api/test/Test/Cascade/Api/StateMachine/Command/Task.hs
  cascade-api/test/Test/Cascade/Api/StateMachine/Command/User/CreateExisting.hs
  cascade-api/test/Test/Cascade/Api/StateMachine/Command/User/CreateNotExisting.hs
  cascade-cli/src/Cascade/CLI/Data/Contract/Shell/Environment.hs
  cascade-cli/src/Cascade/CLI/Data/Model/Config.hs
  flake.lock
  flake.nix
  package.dhall
  shell.nix
Due: nixpkgs-fmt, nix-linter, dhall-format, dhall-lint, stylish-haskell, hlint
